@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body{
    margin: 0;
}
header{
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 20px;
}
header > :nth-child(1){
    display: flex;
}
header > :nth-child(2){
    display: flex;
}
header a{
    margin-top: 20px;
    padding: 10px;
    font-weight: 400;
    text-decoration: none;
    color: whitesmoke;

}
footer{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    background-color:  #202027;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer > :nth-child(1){
    display: flex;
}
footer > :nth-child(2){
    display: flex;
}
footer h3{
    padding: 10px;
    font-weight: 400;
}