
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body{
    background-color: #2F3038;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    overflow-y: hidden;
    overflow-x: hidden;
}
main{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
    height: 80vh;
    margin-left: 10%;
}
h1{
    font-size: 400%;
    font-weight: 400;
    margin-left: 35px;
}
main :nth-child(2){
    display: flex;
    flex-flow: row;
    font-weight:200;
}
main > div > div > img{
    width: 96px;
    height: 97px;
}
main > div > :nth-child(1){
    display: flex;
    flex-direction: column;
    padding: 25px;
}
main > div > :nth-child(2){
    display: flex;
    flex-direction: column;
    padding: 25px;
}
main > div > :nth-child(3){
    display: flex;
    flex-direction: column;
    padding: 25px;
}
#more{
    align-self: center;
}
main > div > p{
font-size:25px ;
}
/* #albumsIMG img{
    max-height: 264px;
    max-width: 264px;
} */