@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');


header{
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}
header > :nth-child(1){
    display: flex;
}
header > :nth-child(2){
    display: flex;

}
header h2, h3{
    padding: 10px;
    font-weight: 400;
}