@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body{
    background-color: #2F3038;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
header > :first-child{
    display: flex;
    margin-left: 10%;
}
header > :last-child{
    display: flex;
    margin-right: 10%;
}
header h2, h3{
    padding: 10px;
    font-weight: 400;
}
main{
    display: flex;
    justify-content: space-evenly;
}
main > :first-child{
    margin-top: 5%;
}
main > :last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main div h1{
    padding: 10px;
    font-weight: 400;
    font-size: 400%;
}